ConnectWithCRUDWCF/Service References/WCFReference/ProductService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="productId" type="xs:int" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="productQuantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="Product" />
</xs:schema>